.content-form {

}

.content-form div {
  width: 200px;
  margin: 10px auto;
}

.content-form label {
  margin: 20px 0 10px;
  color: #666;
  display: block;
  text-align: left;
}

.content-form input, .content-form textarea {
  width: 100%;
  display: block;
  font-size: 10px;
  box-sizing: border-box;
}

.content-form input.send {
  font-size: 18px;
  margin-top: 20px;
}

.text-danger {
  margin: 10px 0;
  display: block;
  color: #ff0000;
  font-size: 12px;
}

.text-warning {
  margin: 10px 0;
  display: block;
  color: #f39a35;
  font-size: 12px;
}

input[type=text] {
  height: 25px;
}

input.send {
  color: white;
  background-color: black;
  outline: none;
  border-radius: 5px;
}
